#header {
  display: flex;
  align-items: center; /*vertically*/
  /* justify-content: center; horizontally*/
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  height: 6.5rem;
  padding: 2.5rem;
}

#header-image {
  height: calc(31.31rem / 6);
  width: calc(26.22rem / 6);
}

#header-title {
  margin-left: 2.5rem;
  margin-right: auto; /*pushes header-project to the end of the line*/
  font-size: 3rem;
}

#header-project {
  font-size: 2rem;
  font-weight: 500;
}
